@charset "UTF-8";

@font-face {
  font-family: "MPLUS1p-Black";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Black.woff") format("woff"), url("../fonts/MPLUS1p-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Bold";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Bold.woff") format("woff"), url("../fonts/MPLUS1p-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-ExtraBold";
  font-display: swap;
  src: url("../fonts/MPLUS1p-ExtraBold.woff") format("woff"), url("../fonts/MPLUS1p-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Light";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Light.woff") format("woff"), url("../fonts/MPLUS1p-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Medium";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Medium.woff") format("woff"), url("../fonts/MPLUS1p-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Regular";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Regular.woff") format("woff"), url("../fonts/MPLUS1p-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MPLUS1p-Thin";
  font-display: swap;
  src: url("../fonts/MPLUS1p-Thin.woff") format("woff"), url("../fonts/MPLUS1p-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=======================================================================*/

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-header__column {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-header form input {
  width: 497px;
  height: 40px;
  padding-left: 5px;
  border: 2px solid #1D5F32;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 12px;
  font-family: MPLUS1p-Bold;
}

#search {
  display: none;
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 42px;
  right: 726px;
}

.menu__link {
  font-family: MPLUS1p-Bold;
  color: white;
}

.menu__body {
  border-radius: 10px;
}

#inf {
  background-color: #FF6422;
  border-radius: 5px;
  color: white;
  font-family: MPLUS1p-Bold;
  font-size: 12px;
  padding: 2px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #538D27;
  height: 50px;
}